* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: "Montserrat", serif;
    background-color: #e4f9f5;
    display: flex;
    flex-direction: column;
}

a, button, .menu-icono {
    cursor: pointer;
}

header {
    flex: 0 0 auto;
    background: linear-gradient(to right, rgb(222, 158, 45), rgb(48, 117, 90));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img {
    width: 10%;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: rotate(360deg);
}

.nav-links {
    display: flex;
    gap: 20px;
}

.menu-icono {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffa726;
}

main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.titulo {
    color: #0b3d33;
    display: flex;
    justify-content: center;
}

.titulo h1 {
    text-shadow: 6px 3px 4px orange;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido p:first-child {
    font-size: 20px;
}

.contenido p:nth-child(2) {
    font-size: 17px;
}

.contenido p:last-child {
    font-size: 15px;
}

.boton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: 1px solid darkgreen;
    padding: 10px;
    border-radius: 5px;
}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.buscador input {
    padding: 10px;
    margin: 0 10px 0 0;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.buscador input:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.lupa {
    border: 1px solid darkgreen;
    padding: 10px;
    border-radius: 5px;
}

.lupa:hover {
    transform: scale(1.05);
    transition: transform 0.2 ease;
    border-color: var(--highlight-orange);
}

footer {
    flex: 0 0 auto;
    background: radial-gradient(rgb(48, 117, 90), rgb(222, 158, 45));
    padding: 15px;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ffa726;
}

@media (max-width: 600px) {
    .nav-links {
        display: none;
    }

    .menu-icono {
        display: block;
        color: #ffa726;
    }
}